{{#if success_msg}}
  <div class="alert alert-success">
    {{success_msg}}
  </div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger">
    {{error_msg}}
  </div>
{{/if}}

<script>
  const msg = document.querySelector('.alert')
  if(msg) {
    setTimeout(function() {
      msg.remove()
    }, 5000)
  }
</script>